{{> head }}
{{> navbar }}
<div class="row">
  <div class="col-5 offset-3">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo deserunt voluptas earum saepe reprehenderit impedit reiciendis, voluptatibus incidunt vitae ipsum nisi modi vel distinctio sed tempora molestiae? Provident, assumenda molestiae.</p>
    <img src="assets/img/one.png" class="img-thumbnail">
  </div>  
</div>

{{> footer }}